#*.java
working-directory/.metadata/*
working-directory/.recommenders/*
working-directory/DesignPattern/.setting/*
working-directory/DesignPattern/bin/*
working-directory/DesignPattern/.classpath
working-directory/DesignPattern/.project